body {
	background-image: url('../img/carousel-bg.png');
}

.row {
	margin: 0;
}

/* ----------------- FONTS ----------------- */

@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* ----------------- HEADER ----------------- */

.navbar-users {
	background-color: #1d1d1d;
	display: flex;
	border-top: 2px solid #1e7dce;
}

.navbar-users li {
	list-style: none;
	justify-content: space-between;
	padding: 10px 20px;
}

.navbar-users a {
	text-decoration: none;
	color: white;
	font-family: "Open Sans",  "Arial";
	font-size: 0.9em;
	background:
}

.navbar-users a:hover {
	color: #1e7dce;
}

.basket-order {
	background-color: #1e7dce;
}

.basket-order:hover {
	background-color: #1ba4e4;
}

.basket-order a:hover {
	color: white;
}

.main-banner {
	background-image: url('../img/banner1.png');
	background-repeat: no-repeat;
	height: 300px;
	background-position-y: -45px;
}

.main-title a {
	font-size: 1em;
	font-family: "Patua One", "Arial";
	color: white;
	padding: 10px 60px;
	text-decoration: none;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

.main-title a:hover {
	color: white;
}

.navbar-menu {
	background-color: #1d1d1d;
	box-shadow: 0 0 8px 1px black;
}

.navbar-menu ul {
	padding: 0;
}

.navbar-menu ul li {
	text-align: center;
	list-style: none;
	justify-content: space-between;
	padding: 12px;
	margin: 0 10px;
}

.navbar-menu ul li a {
	text-decoration: none;
	color: white;
	font-family: "Open Sans",  "Arial";
	font-size: 0.9em;
}

.navbar-menu ul li a:hover {
	color: #1e7dce;
}

/* ----------------- SLIDERS ----------------- */

#carouselExampleIndicators {
  max-width: 800px;
	width: 100%;
	border: 4px solid #f9f9f9;
	border-radius: 8px;
	box-shadow: 0 1px 10px -4px black;
}

.carousel-item img {
	width: 100%;
	min-width: 790px;
	min-height: 495px;
	max-width: 790px;
	max-height: 495px;
}

.carousel-control-prev:hover {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 0));
}

.carousel-control-next:hover {
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 0));
}

.carousel-indicators {
	bottom: -3px;
}

.carousel-indicators li {
	max-width: 12px;
	height: 12px;
	border-radius: 50px;
}

.carousel-caption {
	bottom: 0;
	left: 0%;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
	width: 100%;
}

.carousel-caption h3 {
	font-size: 1.75em;
	font-family: "Patua One", "Arial";
}

.carousel-caption p {
	font-size: .9em;
	font-family: "Open Sans", "Arial";
}

.carousel-caption p,
.carousel-caption h3 {
	margin-left: 25px;
	margin-right: 25px;
}

.hrCarousel {
	width: 90%;
	background-color: #1e7dce;
	margin: 2px 0;
}

/* ----------------- CONTENU PRINCIPAL ----------------- */

.scrollup {
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 0px;
	right: 0px;
	display: none;
	color: white;
	background-color: #3a3f51;
	border: 1px solid #3a3f51;
	font-size: 20px;
	text-align: center;
	line-height: 37px;
	z-index: 9999;
}

.scrollup:hover,
.scrollup:focus {
	color: white;
}

.bg-white {
	background-color: white;
	border-left: 1px solid #9b9b9b;
	border-right: 1px solid #9b9b9b;
	box-shadow: 0 0 30px -10px black;
}

.hrPage {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	margin: 0;
}

.mainContent {
	font-family: "Patua One", "Arial";
	font-size: 2em;
}

/* ----------------- FORMULAIRES ----------------- */

.form-subscribe label {
	margin: 0;
}

.input-form {
	border: 1px solid grey;
	border-radius: 8px;
	padding: 5px;
	width: 100%;
}

textarea {
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	resize: none;
	width: 100%;
}

.btn_ok {
	background-color: #1885c0;
	border: 1px solid #194a81;
	color: white;
	padding: 10px;
	border-radius: 8px;
	cursor: pointer;
	text-align: center;
}

.btn_ok:hover {
	background-color: #139eea;
	border: 1px solid #0075cb;
}

/* ----------------- FOOTER ----------------- */

footer {
  background-color: #1d1d1d;
  padding: 30px;
  width: 100%;
  position: relative;
  border-top: 2px solid #1e7dce;
}

.footer-center {
  justify-content: center;
}

.hr_footer {
  background-color: #666;
}

.footer_1, .footer_2, .footer_3, .footer_4 {
  color: white;
  justify-content: center;
  max-width: 300px;
  width: 100%;
  margin: 0 20px;
}

.footer_1 h2, .footer_2 h2, .footer_3 h2, .footer_4 h2 {
  font-size: 25px;
}

.copyright {
  color: rgba(255, 255, 255, 0.4);
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 20px;
}

/* ----------------- AUTRES ----------------- */

.col-6,
.col-5,
.col-lg-6,
.col-lg-5,
.col-lg-2 {
	padding: 0;
}

.hvr-grow {
	display: block;
}
