body {
	background-image: url('../img/carousel-bg.png');
	margin-top: 46px;
}

.row {
	margin: 0;
}

/* ----------------- FONTS ----------------- */

@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* ----------------- HEADER ----------------- */

.navbar-users, .navbar-menu  {
	background-color: #1d1d1d;
	display: flex;
	border-top: 2px solid #1e7dce;
}

.navbar-title {
	background-color: #1d1d1d;
	display: flex;
	color: white;
	font-size: 1em;
	font-family: "Patua One", "Arial";
	padding: 12px 0;
	box-shadow: 0 0 9px -2px black;
	min-height: 30px;
}

.navbar-avatar {
	width: 25px;
	height: 25px;
	background: white;
	border: 1px solid grey;
	margin-right: 3px;
}

.navbar-users ul, .navbar-menu ul {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: end;
	flex-wrap: inherit;
}

.navbar-users ul {
	justify-content: flex-end;
}

.navbar-users ul li, .navbar-menu ul li {
	list-style: none;
	justify-content: space-between;
	padding: 10px 20px;
}

.navbar-users a {
	text-decoration: none;
	color: white;
	font-family: "Open Sans",  "Arial";
	font-size: 0.9em;
}

.navbar-users a:hover {
	color: #1e7dce;
}

.basket-order {
	background-color: #1e7dce;
}

.basket-order:hover {
	background-color: #1ba4e4;
}

.basket-order a:hover {
	color: white;
}

.main-banner {
	background-image: url('../img/banner1.png');
	background-repeat: no-repeat;
	height: 300px;
	background-position-y: -45px;
}

.main-title a {
	font-size: 1em;
	font-family: "Patua One", "Arial";
	color: white;
	padding: 10px 60px;
	text-decoration: none;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

.main-title a:hover {
	color: white;
}

.navbar-menu ul li a {
	text-decoration: none;
	color: white;
	font-family: "Open Sans",  "Arial";
	font-size: 0.9em;
}

.navbar-menu ul li a:hover {
	color: #1e7dce;
}

.navbar-light .navbar-toggler {
	border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler {
	background: white;
	cursor: pointer;
}

.bg-faded {
	background-color: #1d1d1d;
}

.navbar-fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}

/* ---------------- PANIER ---------------- */

.dropdown-menu {
	right: 0;
	left: inherit;
	z-index: 99;
	padding: 0;
	min-width: 230px;
}

.dropdown-item {
	padding: 0px;
}

.dropdown-item:hover {
	background-color: white;
	color: black;
}

.title_basket {
	background-color: #1e7dce;
	border: none;
	border: 1px solid #0030a4;
	border-radius: 0;
	color: #fff;
	padding: 10px;
}

.title_basket a {
	font-size: 18px;
	font-family: "Patua One", "Arial";
}

.responsive-basket {
	max-width: 280px;
	width: 100%;
	max-height: 220px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.responsive-basket div p {
	overflow-x: hidden;
	max-width: 200px;
	width: 200px;
}

.fa-close-basket {
	color: red;
	cursor: pointer;
	margin: 0 2px;
}

.item_panier {
	background-color: #dae9ff;
	white-space: normal;
}

.item_panier:nth-child(2n+2) {
	background-color: #e6e6e6;
}

#Qt {
	padding: 0;
	width: 2.3em;
}

.total_ttc {
	font-weight: bold;
	color: #0f5ed5;
}

/* ----------------- SLIDERS ----------------- */

#carouselExampleIndicators {
  max-width: 700px;
	width: 100%;
	max-height: 390px;
}

.mainCarouselImg {
	width: 100%;
	max-width: 790px;
	max-height: 390px;
}

.carousel-control-prev:hover {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 0));
}

.carousel-control-next:hover {
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 0));
}

.carousel-item a {
	width: 100%;
}

.carousel-indicators {
	bottom: -6px;
}

.carousel-indicators li {
	max-width: 12px;
	height: 12px;
	border-radius: 50px;
}

.carousel-caption {
	bottom: 0;
	left: 0%;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
	width: 100%;
	padding: 0 0 30px 0;
}

.carousel-caption h3 {
	font-size: 1.75em;
	font-family: "Patua One", "Arial";
}

.carousel-caption p {
	font-size: .9em;
	font-family: "Open Sans", "Arial";
}

.carousel-caption p,
.carousel-caption h3 {
	margin-left: 25px;
	margin-right: 25px;
}

.hrCarousel {
	width: 90%;
	background-color: #1e7dce;
	margin: 2px 0;
}

.ads-column {
	display: inline-grid;
}

.ads-column a img {
	height: 195px;
	width: 300px;
}

.ads-vertical a img {
	height: 390px;
	width: 100%;
	max-width: 300px;
}

/* ----------------- CONTENU PRINCIPAL ----------------- */

.scrollup {
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	display: none;
	color: white;
	background-color: #3a3f51;
	font-size: 20px;
	text-align: center;
	line-height: 37px;
	z-index: 9999;
	border-radius: 50px;
	box-shadow: 0 0 7px -2px black;
}

.scrollup:hover,
.scrollup:focus {
	color: white;
}

.bg-white {
	background-color: white;
	border-left: 1px solid #9b9b9b;
	border-right: 1px solid #9b9b9b;
	box-shadow: 0 0 30px -10px black;
	padding: 10px;
}

.hrPage {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	margin: 0;
}

.mainContent {
	font-family: "Patua One", "Arial";
	font-size: 2em;
}

/* ----------------- FORMULAIRES ----------------- */

.form-subscribe label {
	margin: 0;
}

.input-form {
	border: 1px solid grey;
	border-radius: 8px;
	padding: 5px;
	width: 100%;
}

textarea {
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	resize: none;
	width: 100%;
}

form label {
	margin-bottom: 0;
}

.connexion {
	max-width: 400px;
}

.btn_ok {
	background-color: #1885c0;
	border: 1px solid #194a81;
	color: white;
	padding: 10px;
	border-radius: 8px;
	cursor: pointer;
	text-align: center;
}

.btn_ok:hover {
	background-color: #139eea;
	border: 1px solid #0075cb;
}

.btn_cancel {
  background-color: #1d1d1d;
  border: 1px solid black;
  color: white;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}

.btn_cancel:hover {
  background-color: #474747;
  border: 1px solid #323232;
	text-decoration: none;
	color: white;
}

.error {
	color: red;
	font-weight: bold;
}

.fa-input {
	font-family: "FontAwesome";
	padding: 5px;
	background-color: #1d1d1d;
	border: 1px solid grey;
	border-left: 0;
	color: white;
	border-radius: 0 8px 8px 0;
	cursor: pointer;
}

.fa-input:hover {
	background-color: #353535;
	border: 1px solid grey;
	border-left: 0;
}

.search {
	display: flex;
	width: 100%;
}

/* ---------------- COMMENTAIRES ----------------- */

.last-comments {
	padding: 20px;
	background-color: #f1f9ff; /*#f2f2f2*/
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 10px;
}

.last-comments p {
	margin-bottom: 0;
	font-family: "Open Sans", "Arial";
}

.last-comments:nth-child(2n+2) {
	background-color: #e4f7ff; /*#ececec*/
}

.date_comment {
	color: #00709c;
	font-weight: 600;
}

.user_comment {
	font-family: "Patua One", "Arial";
	font-size: 20px;
	margin-bottom: 0;
}

.comment-content {
	font-size: .9em;
}

/* --------------- COMMENT ÇA MARCHE ? ---------------- */

.howTo img {
	width: 300px;
	border: 3px double grey;
	cursor: zoom-in;
}

.howTo iframe {
 border: 3px double grey;
}

.float-left {
	float: left;
	margin-right: 20px;
}

.float-right {
	float: right;
	margin-left: 20px;
}

.clear {
	clear: both;
}

@media (max-width: 640px) {
	.float-left {
		float: none;
		margin-right: 0;
		display: block;
	}

	.float-right {
		float: none;
		margin-left: 0;
	}

	.howTo p {
		display: inline-block;
	}

	.howTo img {
		justify-content: center;
		margin: 15px 0 0 0;
		width: 100%;
	}
}

#howTovideo {
	width: 100%;
	max-width: 624px;
	max-height: 351px;
}

@media (max-width: 640px) {
	#howTovideo {
		max-height: 351px;
		height: 100%;
		margin-bottom: 10px;
	}
}

@media (max-width: 900px) {
	#howTovideo {
		margin-bottom: 8px;
		text-align: center;
		max-width: inherit;
	}
}

/* ----------------- E-COMMERCE ----------------- */

.category-bar {
	justify-content: center;
	width: 100%;
}

.category-bar a {
	margin: 0 5px;
	color: black;
	text-decoration: none;
	font-family: "Open Sans", "Arial";
	font-size: 15px;
	width: 100%;
	padding: 10px;
}

.thumbnail {
  margin-bottom: 0;
  width: 200px;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.2);
	border-style: double;
  position: relative !important;
	background-color: white;
}

.single-article-container {
  display: flex;
  width: 100%;
  border-collapse: separate;
  flex-wrap: wrap;
  justify-content: center;
}

.single-article {
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: inline-block;
}

.single-article a img {
	border: 4px double grey;
}

.single-article-title {
  font-family: "Patua One", "Arial";
  font-size: 20px;
  text-align: left;
  max-width: 200px;
  word-break: keep-all;
}

.single-article-title a {
	color: black;
	text-decoration: none;
	word-wrap: break-word;
}

#img-article-1, #img-article-2, #img-article-3 {
  position: relative !important;
}

.single-article-price {
  font-family: "Patua One", "Arial";
  font-size: 17px;
  color: white;
  text-align: right;
  background: #337ab7;
  padding: 7px;
  position: absolute !important;
  top: 171px;
  right: 21px;
  border: 1px solid #0e415d;
  border-right: 0;
}

.hrSingleArticle {
  height: 1px;
  background-color: rgba(216, 216, 216, 0.2);
  width: 100%;
}

.btn_basket {
	background-color: #22ae22;
	border: 1px solid #287b18;
	color: white !important;
	padding: 10px;
	border-radius: 8px;
	cursor: pointer;
	text-align: center;
	text-decoration: none !important;
}

.btn_basket-bottom {
	position: absolute;
	bottom: 0px;
	margin: 18px;
	display: flex;
}

.btn_basket:hover{
	text-decoration: none;
	background-color: #29ce25;
	border: 1px solid #278718;
	color: white;
}

.btn_basket a:active, .btn_basket a:focus {
	text-decoration: none;
 }

.category-row {
	position: relative;
	justify-content: space-around;
}

.category-button-return {
	background-color: #1d1d1d;
	width: 200px;
	color: white;
	font-family: "Patua One", "Arial";
	margin-right: 5px;
}

.category-button-return a {
	color: white;
	text-decoration: none;
}

.category-button-return i {
	margin-right: 10px;
	cursor: pointer;
	padding: 8px;
	text-align: left;
}

.category-button {
	background-color: #1e7dce;
	width: 200px;
	color: white;
	font-family: "Patua One", "Arial";
}

.category-button i {
	border-left: 1px solid #0167da;
	margin-left: 10px;
	cursor: pointer;
	padding: 10px;
	text-align: right;
}

.category-button p {
	margin-bottom: 0;
	margin-left: 10px;
}

.category-content {
	background-color: #fdfdfd;
	position: absolute;
	right: 0;
	top: 36px;
	padding: 10px 10px 0 10px;
	z-index: 99;
	width: 200px;
	max-height: 200px;
	overflow-y: auto;
	border: 1px solid #c2c2c2;
	font-family: "Open Sans", "Arial";
	font-size: 14px;
}

.category-content ul li {
	list-style: none;
}

.category-content ul li a {
	text-decoration: none;
}

/* ----------------- MODIFICATION DU PROFIL ----------------- */

.edit-profil-row {
	border-bottom: 1px solid #1d1d1d;
	margin-bottom: 10px;
}

.edit-profil-row div {
	width: 102px;
	background-color: #1a1a1a;
	padding: 10px;
	color: white;
}

.edit-profil-row ul li {
	list-style: none;
}

.edit-profil-row i, .edit-profil-row p {
	margin-right: 8px;
}

.edit-profil-content {
	margin-left: 8px;
}

.edit-profil-avatar {
	max-height: 200px;
	max-width: 200px;
	justify-content: center;
	border-style: double;
	border: 4px double grey;
}

/* ------------------- CATALOGUE : ARTICLE SEULEMENT ------------------- */

.image {
  text-align: center;
  vertical-align: middle;
}

.image img {
  height: 200px;
  width: 200px;
  border: 4px double grey;
  background: white;
}

.article-single-price {
	background-color: #1d1d1d;
	color: white;
	font-size: 20px;
	font-weight: bold;
	font-family: "Patua One", "Arial";
	width: 163px;
	padding: 8px;
	text-align: start;
	display: inline-block;
	text-decoration: none;
	border: 1px solid grey;
	border-right: 0;
}

.packaging {
	max-width: 200px;
}

.packaging p {
	text-align: left;
}

.description {
	text-align: justify;
}

/* ----------------- FOOTER ----------------- */

footer {
  background-color: #1d1d1d;
  padding: 30px;
  width: 100%;
  position: relative;
  border-top: 2px solid #1e7dce;
}

.footer-center {
  justify-content: center;
}

.hr_footer {
  background-color: #666;
}

.footer_1 img {
	width: 40px;
	border-radius: 8px;
	margin: 3px;
}

.footer_3 iframe {
	border-style: double;
	border: 4px double grey;
	max-width: 400px;
	max-height: 200px;
	width: 100%;
}

.footer_1, .footer_2, .footer_3, .footer_4 {
  color: white;
  justify-content: center;
  max-width: 300px;
  width: 100%;
  margin: 0 20px;
}

.footer_1 h2, .footer_2 h2, .footer_3 h2, .footer_4 h2 {
  font-size: 25px;
	font-family: "Patua One", "Arial";
}

.copyright {
  color: rgba(255, 255, 255, 0.4);
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 20px;
}

address {
	margin-bottom: 0;
	color: rgba(255, 255, 255, 0.8);
}

address .fa-map-marker {
	margin-right: 6px;
}

address .fa-phone {
	margin-right: 3px;
}

/* ----------------- W ERROR ----------------- */

.errorPage {
	background-color: rgba(255, 0, 0, 0.1);
	border: 1px solid #ffbaba;
	border-radius: 8px;
	padding: 20px;
	text-align: center;
	margin: 75px 0;
}

.errorPage h2 {
	font-family: "Patua One", "Arial";
}

.errorPage p {
	margin-bottom: 0;
	font-family: "Open Sans", "Arial";
	font-size: 15px;
}

.hrError {
	background: rgba(255, 196, 196, 0.51);
}

/* ----------------- AUTRES ----------------- */

.col-6,
.col-5,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-8,
.col-lg-2 {
	padding: 0;
}

.hvr-grow {
	display: block;
}

.hidden {
	display: none;
}

.hiddenTotal {
	position: absolute;
	left: -99999px;
	top: -99999px;
}

.text-align-center {
	text-align: center;
}

.text-align-right {
	text-align: right;
}

.bold {
	font-weight: bold;
}

.uppercase {
	text-transform: uppercase;
}

.text-justify {
	text-align: justify;
}

.p-relative {
	position: relative;
}

* p, * label {
	margin-bottom: 0;
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: none;
}

#test {
	display: none;
}

.span-flash {
  padding: 10px;
  margin-bottom: 20px;
  border-left: 4px solid #5eb65e;
  background-color: rgba(0, 255, 0, 0.1);
  display: flex;
	margin: 10px 0;
}

/* ----------------------- MEDIA QUERY ------------------------ */
@media (max-width: 827px) {
	.navbar-users ul li, .navbar-menu ul li {
		width: 100%;
		justify-content: flex-start !important;
	}
}

@media (max-width: 991px) {
	.comments-container {
		margin-top: 20px;
	}
	.navbar-fixed {
		position: relative;
	}
	body {
		margin-top: 0;
	}
	.item_panier {
		white-space: pre-wrap;
	}
	.fa-close-basket {
		width: 100%;
		display: flex;
		justify-content: end;
		padding: 5px 0;
	}
	#Qt {
		height: 100%;
	}
}

@media (max-width: 1442px) {
	.ads-column {
		display: none;
	}
}

@media (max-width: 1695px) {
	.ads-vertical {
		display: none;
	}
}

@media (max-width: 1450px) {
	.footer_1, .footer_2, .footer_3, .footer_4 {
		margin-bottom: 40px;
	}
}

@media (max-width: 456px) {
	.category-button-return, .category-button {
		margin: 5px 0px;
		width: 100%;
	}
}

@media (min-width: 457px) and (max-width: 1155px) {
	.category-button-return, .category-button {
		margin: 5px 1%;
	}
}
